@model IEnumerable<CompanyManager.Models.Department>

<h2>Departments</h2>

<a asp-action="Create" class="btn btn-primary">Add Department</a>

<table class="table table-bordered">

    <tr>
        <th>ID</th>
        <th>Name</th>
    </tr>

    @foreach (var dept in Model)
    {
        <tr>
            <td>@dept.DepartmentId</td>
            <td>@dept.Name</td>
        </tr>
    }

</table>