@model UniversityManagementSystem.Models.Student

<h2>Add Student</h2>

<form asp-action="Create">

    <label>Name</label>
    <input asp-for="FullName" />

    <label>Email</label>
    <input asp-for="Email" />

    <label>Date</label>
    <input asp-for="EnrollmentDate" type="date" />

    <button type="submit">Save</button>

</form>