@model IEnumerable<HospitalManagementSystem.Models.Appointment>

<h2>Doctor Appointments</h2>

<table class="table">
    <tr>
        <th>Patient</th>
        <th>Date</th>
        <th>Remarks</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Patient.FullName</td>
            <td>@item.AppointmentDate</td>
            <td>@item.Remarks</td>
        </tr>
    }
</table>